*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(192, 165, 216);
    overflow: none;
}
.navContainer{
    width: 100vw;
    /* background-color: rgb(125, 197, 173); */
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    min-height: 75px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    
}
nav{
    width: 100%;
    overflow-x: none;
}
p{
    color: white;
}
#navlist{
    margin-left: 25px;
    margin-right: 25px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    font-family: cursive;

   
}
a{
    text-decoration: none;
    color: white;
}
#navitem{
    display: flex;
    gap: 30px;
    

}
#navitem :hover{
    transform: scale(1);
}

.footerBox{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    text-align: center;
    min-height: 40px;
}
.footerBox p{
    color: white;
    font-size: 2rem;
}
.item{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 30px;

}
.leftBox{
    display: flex;
    flex-direction: column;

}
.rightBox img{


    height: 200px;
    width: 250px;
    /* border-top-left-radius: 15px;
    border-bottom-left-radius:15px ; */
    border-radius: 15px;
    box-shadow: 10px 8px rgb(237, 229, 229);


}
.rightBox img:hover{
    transform: scale(1.1);
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    .

    }

 

#name{
    color: black;
}

